ul{
  list-style: none;
  font-size: 20px;
}
li{
  margin-bottom: 10px;
  padding: 5px;
}
li:hover{
  background-color:#4286f4;
}
span{
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
.completed-todo{
  text-decoration: line-through;
}
#new-todo-block{
  width: 60%;
  margin: 20px auto 0px auto;
}
#add-new-todo-button{
  display: block;
  background-color: #7b31a0;
  margin-top: 10px;
}